

/*-----------------------------------------------  pdp trup   ---------------------------------------**/
/*Product detail page css start here*/
.productView{
    display: inline-block;
    width: 100%;
    padding: 0;
    .productView-images{
        .top{
            margin-top:50px;
            @include breakpoint("medium"){
                margin-top:0;
            }
        }
    }
}

/*write a review modal css start here*/
#modal-review-form{
    .modal-content{
        form.form.writeReview-form{

            .form-field{
                .form-label{
                    color: #000;
                    font-size: 13px;
                    @include breakpoint("medium"){
                        font-size: 15px; 
                    }
                    @include breakpoint("xlarge"){
                        font-size: 16px;
                    }
                    @include breakpoint("xxlarge"){
                        font-size:20px;
                    }
                }
                .form-input,
                .form-select{
                    border-color:#2d4762;
                    border-radius: 0;
                }
            }
        }
    }
    textarea#revtext_input{
        padding:.75rem 1rem;
        
    }
}

/*write a Review midal css end here*/

/*lightbox thumbnell css start here*/
.productView{
    .productView-images{
        padding-left: 0;
        margin-bottom: 0;
        padding-right:0;
        .top{
            /*border: 1px solid #dddddd;*/
             @include breakpoint("medium"){
              width:47.56944444444444vw;             
             }
             @include breakpoint("xlarge"){
              width:48.569444vw;             
             }
             @include breakpoint("xxlarge"){
               width:47.56944444444444vw;             
             }
            .productCarousel.slick-initialized.slick-slider{
                img{
                    margin: 0 auto;
                    @include breakpoint("medium"){
                      max-width: 39.93055555555556vw;       
                    }
                }
            }
            li.productView-thumbnail.slick-slide{
                border: 1px solid #dddddd;
                @include breakpoint("medium"){
                 height:42.11805555555556vw; 
                 position: relative;
                 a{ display: table; height: 100%; 
                    img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
                 }
                }
            }



        }
        .bottom.custome-thumbnail{
            display: inline-block;
            margin: 30px 0 0 0;
            width: 100%;
             @include breakpoint("medium"){
                width:47.56944444444444vw;
                margin:2.1875vw 0 0 0; 
             }
             @include breakpoint("xxxlarge"){
                margin:63px 0 0 0;
             }
            .productView-thumbnails{
                .productView-thumbnail-link{
                    @include breakpoint("medium"){
                        max-width:7.361111111111111vw;
                        height:7.361111111111111vw;
                    }
                    @include breakpoint("xxxlarge"){
                        max-width:212px;
                        height:212px;
                    }
                        img{
                            @include breakpoint("large"){
                                /*max-width:100px;
                                height: 100px;
                                 width: inherit;*/
                            }
                            @include breakpoint("xxlarge"){
                                /*max-width:150px;
                                max-height: 150px; 
                                width: inherit;*/
                            }
                        }
                  }      
                .slick-prev{
                    padding: 0;
                    margin-top: 0;
                    width: auto;
                    height:auto;
                }
                .slick-next{
                    padding: 0;
                    margin-top: 0;
                    height: auto;
                    width: auto;
                }
            }
        }
    }
    .productView-thumbnail-link{
        border:1px solid #dddddd;
    }
    .productView-thumbnail-link:hover, 
    .productView-thumbnail-link.is-active{
        border:1px solid #008ac9;
    }
}
.slick-lightbox-slick.slick-caption-dynamic.slick-initialized.slick-slider{
    .slick-lightbox-slick-item-inner{
        img{
            max-width: 100%;
        }
    }
   
}
 .slick-lightbox-close {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 1rem;
        top: 1rem;
        background: url(../img/close.png) center no-repeat #fff;
        background-size: 50% 50%;
        border-radius: 3px;
        padding: 5px;
 }
/*Light box thumbnell css end here*/

/*View product css start here*/
.productView{
    .productView-product{
        border: none;
        padding-bottom: 0;
        .productView-brand{ 
            margin:0;
            line-height: 1;
            color: #777;
            font-size: 14px;
            @include breakpoint("xxsmall"){
                font-size: 14px;
            }
            @include breakpoint("xsmall"){
                font-size: 15px;
            }
           
            @include breakpoint("medium"){
                font-size:1.0416666666666667vw;
            }
            @include breakpoint("xxxlarge"){
                font-size: 30px;
            }
            a{
                 font-family: 'Helvetica Neu Bold';
                text-decoration: none;
                text-transform: uppercase;
                line-height: 1;
            }
        }
        .productView-title{
            color:#000; 
            font-family: 'Helvetica Neu Bold';
            text-transform: uppercase;
            display: inline-block;
            font-size: 15px;
            margin: 10px 0;
            line-height: 1.363;
            @include breakpoint("xxsmall"){
                width:94%;
                margin:10px 0;
                font-size: 15px;
            }
            @include breakpoint("xsmall"){
                width:60%;
                margin:10px 0;
                font-size: 16px;
            }
            @include breakpoint("small"){
                width:40%;
                margin:10px 0;
                font-size: 16px;
            }
            @include breakpoint("medium"){
                width:100%;
                max-width: 28.916667vw;
                margin:1.0416666666666667vw 0 1.3888888888888888vw;
                font-size: 1.3888888888888888vw;
            }
            @include breakpoint("xxxlarge"){
                width:100%;
                margin:15px 0 20px 0;
                font-size: 40px;
            }  
        }
        .productView-price{
            line-height: 1;
            margin-bottom: 0;
            .price-section.price-section--withoutTax.rrp-price--withoutTax{
                display: inline-block;
            }
            .price-section.price-section--withoutTax.non-sale-price--withoutTax{
                display: inline-block;
                margin-right: 10px;
                span.price.price--non-sale{
                    color:#757575;
                    font-size: 15px;
                       @include breakpoint("small"){
                            font-size:16px;
                       }
                       @include breakpoint("medium"){
                            font-size: 1.3888888888888888vw;
                            margin-right:0.41666666666666663vw;
                       }
                       
                       @include breakpoint("xxxlarge"){
                            font-size: 40px;
                            margin-right: 12px;
                       }
                }
            }
            .price-section.price-section--withoutTax{
                display: inline-block;
                span.price.price--withoutTax{
                    color:#757575;
                    font-size: 15px;
                    color: #000;
                       @include breakpoint("small"){
                            font-size:16px;
                       }
                       @include breakpoint("medium"){
                            font-size:1.3888888888888888vw;
                       }
                       @include breakpoint("xxxlarge"){
                            font-size: 40px;
                       }
                }
            }   
            .price-section.price-section--saving.price{
                display: inline-block;
            }
        }
        .productView-rating{
                margin:20px 0;
                 @include breakpoint("medium"){
                    margin: 1.6666666666666665vw 0 3.75vw 0;
                 }
                 @include breakpoint("xxxlarge"){
                    margin:48px 0 108px 0;
                 }  
            .icon{
                width:25px;
                height:25px;
                 @include breakpoint("medium"){
                    width:1.1111111111111112vw;
                    height:1.0416666666666667vw;
                 }
                 @include breakpoint("xxxlarge"){
                    width: 32PX;
                    height: 30PX;
                 }
            }
            span.icon.icon--ratingEmpty svg{
                fill:#e7e7e7;
            }
            span.icon.icon--ratingFull svg{
                fill:#2d4762;
            }
            .productView-reviewLink{
                color: #757575;
                font-size:15px;
                display: inline-block;
                margin: 0;
                 @include breakpoint("xsmall"){
                   font-size:15px;
                 }
                 @include breakpoint("medium"){
                   margin: 0;
                   font-size: 1.0416666666666667vw;
                 }
                
                 @include breakpoint("xxxlarge"){
                   font-size: 30px;
                 }
                    a{
                        color:#2b115a;
                        font-size: 15px;
                        display: inline-block;
                         margin-left: 0;
                         @include breakpoint("xsmall"){
                           font-size:15px;
                           margin-left: 20px;
                         }
                         @include breakpoint("medium"){
                           margin-left: 1.5625vw;
                            font-size:1.0416666666666667vw;
                         }
                        @include breakpoint("xxxlarge"){
                           font-size: 30px;
                           margin-left: 45px;

                         }
                            &:hover{
                                color:#f11a22;
                            }
                    }
                    a.write_review_custom {
                      /* margin-left:21px; */
                       text-decoration: none;
                       color: #757575;
                       padding:0 9.4px;
                       /*margin: 0;*/
                       @include breakpoint("xxsmall"){
                           margin-left:0.7291666666666666vw; 
                           
                         }
                         @include breakpoint("xsmall"){
                           padding: 0;
                         }
                        @include breakpoint("medium"){
                           margin-left:0.7291666666666666vw; 
                         }
                         @include breakpoint("xxxlarge"){
                           margin-left:21px; 
                         }
                   }
            }
        }
        .productView-info{
           .product_contain{
                margin-top: 0;
                line-height: 1;
                .productView-info-name{
                    display: inline-block;
                    font-family: 'Lato', sans-serif;
                    color:#777777;
                    font-size:13px;
                    margin: 0;
                     @include breakpoint("xxsmall"){
                        font-size:14px;
                     }
                     @include breakpoint("xsmall"){
                        font-size:15px;
                     }
                     @include breakpoint("medium"){
                        font-size:1.0416666666666667vw;
                        line-height: 1.3;
                     }
                     @include breakpoint("xxxlarge"){
                        font-size:30px;
                     }
                }
                .productView-info-value{
                    display:inline-block;
                    color:#777777;
                    font-weight: 700;
                    font-size: 13px;
                    margin-bottom: 0;
                     @include breakpoint("xxsmall"){
                        font-size:14px;
                     }
                     @include breakpoint("small"){
                        font-size:15px;
                     }
                     @include breakpoint("medium"){
                        font-size:1.0416666666666667vw;
                        line-height: 1.3;
                     }                
                     @include breakpoint("xxxlarge"){
                        font-size:30px;
                     }
                }
            }
       }     
    }
}
/*view product css end here*/

/*product custom field css start here*/
.productView{
    .productView-details{
        margin-bottom: 0;
        padding-bottom: 0;
        @include breakpoint("small"){
            margin-top: 25px;
        }
        @include breakpoint("medium"){
             margin-top:0;
        }
        .productView-options{
            margin-bottom: 0;
            @include breakpoint("medium"){
                 margin-bottom:20px;
            }
            @include breakpoint("large"){
                 margin-bottom:0;
            }
            
                .option_choose{
                    color: #000;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin:0 0 10px 0;
                    font-size: 15px;
                    @include breakpoint("xxsmall"){
                        margin:0 0 10px 0;
                        font-size:15px;
                    }
                    @include breakpoint("small"){
                        margin:0 0 10px 0;
                        font-size:16px;
                    }
                    @include breakpoint("medium"){
                        margin:3.4722222222222223vw 0 0.9375vw 0;
                        font-size:1.0416666666666667vw;
                        line-height: 1;
                    }
                    @include breakpoint("xxxlarge"){
                         margin:100px 0 27px 0;
                        font-size: 30px;
                    }
                }
                [data-product-option-change]{
                    @include breakpoint("xsmall"){
                         margin:0 -15px;
                    }     
                }
                .form-field{
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 15px;
                         @include breakpoint("xsmall"){
                             width: calc((100% - 18px)/2);
                             padding: 0 15px;
                         }
                         @include breakpoint("medium"){
                            padding-right: 0;
                            margin-bottom: 0.5555555555555556vw;
                         }
                    // .form-label--inlineSmall{
                    //     display: none;
                    // }
                    .form-select--small{
                        display: inline-block;
                        border:1px solid #dddddd;
                        border-radius: 0;
                        font-size: 14px;
                        line-height: 1.5;
                        height: 40px;
                        background: url(../img/select.png) no-repeat;
                        background-position: 95% center;
                        width: 100%;
                        max-width: inherit;
                        color: #000;
                        padding-top: 0;
                        padding-bottom: 0;
                        background-size:4%;
                        @include breakpoint("xxsmall"){
                            font-size: 14px;
                            height: 40px;
                        }
                        @include breakpoint("xsmall"){
                            background-size:6%;
                        }
                        @include breakpoint("medium"){
                           font-size: 1.0416666666666667vw;
                            height:2.8472222222222223vw;
                            background-size:0.625vw 0.41666666666666663vw;
                        }
                        @include breakpoint("xxxlarge"){
                           font-size:30px;
                           height: 82px;
                           background-size:18px 12px;
                        }
                    }
                }
                .sicon_qty{
                    margin: 40px 0;
                    @include breakpoint("xsmall"){
                        margin: 20px 0;
                    }
                    @include breakpoint("medium"){
                        margin:3.6805555555555554vw 0;
                    }
                    @include breakpoint("xxxlarge"){
                        margin:106px 0;
                    }
                    .form-field--increments{
                        display: inline-block;
                        vertical-align: middle;
                        padding:0;
                        margin-bottom:15px;
                        width: 100%;
                         @include breakpoint("xsmall"){
                            width: 43%;
                            margin-bottom: 0px;
                         } 
                         @include breakpoint("medium"){
                            width:100%;
                            max-width:18.055555555555554vw;
                         }   
                         @include breakpoint("xxxlarge"){
                            max-width:49.5%;
                         } 
                         .inc_dec { 
                            max-width: 10px;
                            max-height: 10px;
                             @include breakpoint("medium"){
                                max-width:0.625vw;
                                max-height:2.8472222222222223vw; 
                             } 
                             @include breakpoint("xxxlarge"){
                                max-width:18px;
                                max-height:12px;
                             }   
                         }
                        .form-label--alternate{
                            display: inline-block;
                            vertical-align: middle;
                            margin-bottom: 0;
                            color: #000;
                            font-weight: 700;
                            font-size: 14px;
                            margin-right:10px;
                            @include breakpoint("xxsmall"){
                                font-size:14px;
                                margin-right: 10px;
                            }
                            @include breakpoint("xsmall"){
                                font-size:13px;
                                margin-right: 10px;
                            }
                            @include breakpoint("medium"){
                                font-size:1.0416666666666667vw;
                                margin-right: 10px;
                            }
                            @include breakpoint("xxxlarge"){
                                font-size: 30px;
                                margin-right:30px;
                            }
                        }
                        .button--icon{
                            border-radius: 0;
                            border: 1px solid #dddddd;
                            padding: 10px;
                            display: inline-flex;
                            @include breakpoint("xsmall"){
                                padding:10px;
                            }
                            @include breakpoint("medium"){
                                padding: 0.7638888888888888vw 0.6944444444444444vw;
                            }
                          
                            @include breakpoint("xxxlarge"){
                                padding:22px 20px;
                            }
                        }
                        .form-increment{
                            display: inline-block;
                            vertical-align: middle;
                            .form-input--incrementTotal{
                                color:#000;
                                font-weight: 700;
                                line-height: 1;
                                font-size: 14px;
                                margin: 0;
                                padding: 0;
                                @include breakpoint("xxsmall"){
                                     font-size: 15px;
                                }
                                @include breakpoint("xsmall"){
                                     margin:0;
                                     font-size: 15px;
                                }
                                @include breakpoint("medium"){
                                     margin: 0 10px;
                                     font-size: 15px;
                                }
                                @include breakpoint("large"){
                                     margin: 0 10px;
                                     font-size: 1.25vw;
                                }
                               
                                @include breakpoint("xxxlarge"){
                                     margin: 0 20px;
                                     font-size: 36px;
                                }
                            }
                        }
                    }
                    .addthis_toolbox{
                        display: inline-block;
                        vertical-align: middle;
                        width: 100%;
                        @include breakpoint("xsmall"){
                            width: 56%;
                        }  
                         @include breakpoint("medium"){
                              max-width:18.055555555555554vw;
                              width:100%;
                         } 
                         @include breakpoint("xxxlarge"){
                               width: 100%;
                               max-width:49.5%;
                         } 
                         .socialLinks .icon{
                            height: 30px;
                            width: 30px;
                            @include breakpoint("medium"){
                                height:2.0833333333333335vw; 
                                width:2.0833333333333335vw;
                            }  
                            @include breakpoint("xxxlarge"){
                                height:60px;
                                width:60px;
                            }      
                         }     
                        .share_title{
                            display: inline-block;
                            vertical-align: middle;
                            color: #000;
                            font-weight: 700;
                            line-height: 1;
                            font-size:15px;
                            margin-right:10px;
                            @include breakpoint("xxsmall"){
                                font-size:15px;
                                margin-right: 10px;
                            }
                            @include breakpoint("xsmall"){
                                font-size:13px;
                                margin-right: 10px;
                            }
                            @include breakpoint("small"){
                                font-size:15px;
                                margin-right: 15px;
                            }
                             @include breakpoint("medium"){
                                 font-size:14px;
                                 margin-right: 10px;
                             }
                             @include breakpoint("large"){
                                 font-size:1.0416666666666667vw;
                                 margin-right: 1.3888888888888888vw;
                             }
                             @include breakpoint("xxxlarge"){
                                 font-size:30px;
                                 margin-right: 30px;
                             }
                        }
                        .socialLinks{
                            display: inline-block;
                            vertical-align: middle;
                            .socialLinks-item{
                                margin-bottom: 0;
                                margin-right: 0;
                                    &:last-child{
                                        margin-right:0;
                                    }
                                 @include breakpoint("xxsmall"){
                                    margin-right:10px;
                                 }
                                 @include breakpoint("medium"){
                                    margin-right:5px;
                                 }
                                 @include breakpoint("large"){
                                    margin-right:1.0416666666666667vw;
                                 }
                                 @include breakpoint("xxxlarge"){
                                    margin-right: 30px;
                                 }
                            }
                        }
                    }
                }
        }   
    }
}

@media only screen and (min-width:667px) and (max-width:767px){
    .form-field--increments{
        width: 45% !important;
        margin-bottom: 0 !important;
    }
}
@media only screen and (min-width:667px) and (max-width:767px) {
    .addthis_toolbox{
        width: 53% !important;
    }
}
.productView{
    a.icon.icon--facebook:hover .cls-1{fill:#020200;}
    a.icon.icon--email:hover .cls-1{fill:#020200;}
    a.icon.icon--twitter:hover .cls-1{fill:#020200;}
}
/*product custom field css start here*/


/*addto cart and wishlist css start here*/

.productView-details{
    .addto_cartbtn{
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
        @include breakpoint("xsmall"){
            width: calc((100% - 18px)/2);
            margin-bottom: 0;
        }
        .form-action{
          margin: 0;
          padding: 0;
           display: inline-block;
           width: 100%;
            #form-action-addToCart{
                background:#008ac9;
                border: 1px solid #008ac9;
                color: #fff;
                border-radius: 0px;
                text-transform: uppercase;
                margin:0;
                width:100%;
                display: inline-block;
                line-height: 1;
                font-size: 14px;
                padding: 20px;
                @include breakpoint("xsmall"){
                    font-size:16px;
                    padding: 15px;
                    width: 97%;
                }
                @include breakpoint("small"){
                    font-size:16px;
                    padding: 15px;
                    width: 97%;
                }
                @include breakpoint("medium"){
                    font-size:0.7291666666666666vw;
                    padding: 15px;
                    width: 97%;
                }
                @include breakpoint("xxxlarge"){
                    font-size: 21.99px;
                    padding: 20px;
                    width: 97.5%;
                }
                    &:hover{
                        background:#fff;
                        border-color: #008ac9;
                        color:#008ac9; 
                    }
            }
        }  
    }    
    form.form.form-wishlist.form-action{
         display: inline-block;
         float: right;
         width:100%;
         margin: 0;
        @include breakpoint("xsmall"){
            width: calc((100% - 18px)/2);
        }
        .icon{
            display: none;
        }
        .dropdown-menu-button{
            margin: 0;
            width:100%;
            display: inline-block;
            background:#2d4762;
            color: #fff;
            border: 1px solid #2d4762;
            text-transform: uppercase;
            border-radius: 0px;
            line-height: 1;
            font-size:14px;
            padding: 20px;
                @include breakpoint("xsmall"){
                    font-size:16px;
                    padding: 15px;
                    width: 97%;
                }
                @include breakpoint("small"){
                    font-size:16px;
                    padding: 15px;
                    width: 100%;
                }
                @include breakpoint("medium"){
                    font-size:0.7291666666666666vw;
                    padding: 15px;
                    width: 97%;
                }
                @include breakpoint("xxxlarge"){
                     font-size: 21.99px;
                     padding: 20px;
                     width: 97.5%;
                }
                &:hover{
                    background:#fff;
                    border-color:#008ac9;
                    color:#008ac9;
                }
                svg{
                    opacity: 0;
                }
        }
    }  
    ul.dropdown-menu.is-open.f-open-dropdown{
        li{
            &:first-child{
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }
                
        }
        .button{
             background:#2d4762;
             color: #fff;
             font-size:14px;
             padding: 20px;
             border-radius: 0px;
                @include breakpoint("xsmall"){
                    font-size:16px;
                    padding: 15px;
                    width: 97%;
                }
                @include breakpoint("small"){
                    font-size:16px;
                    padding: 15px;
                    width: 100%;
                }
                @include breakpoint("medium"){
                    font-size:0.7291666666666666vw;
                    padding: 15px;
                    width: 97%;
                }
                @include breakpoint("xxxlarge"){
                     font-size: 21.99px;
                     padding: 20px;
                     width: 97.5%;
                }
                &:hover{
                    background:#fff;
                    border-color: #008ac9;
                    color:#008ac9;
                }
        }
    }
}

/*addto cart and wishlist css end here*/

/*product contact css start here*/
.productView{
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;

    .productView-details{
        .product_contact{
            margin:30px 0;
             @include breakpoint("large"){
                 margin:3.4722222222222223vw 0 0;
            }
            a{
                text-decoration: none;
            }
            .calling{
                display: inline-block;
                vertical-align: top;
                background:#fff;
                text-align: center;
                width:100%;
                margin-bottom:15px;
                    &:last-child{
                       /* margin-bottom:0;*/
                    }
                @include breakpoint("xxsmall"){
                    min-height: 100px;
                    width:100%;
                }
                @include breakpoint("xsmall"){
                    min-height: 100px;
                    width: calc((100% - 6px)/3);
                    padding: 0 6px;
                    margin-bottom: 15px;
                }
                @include breakpoint("small"){
                    min-height: 100px;
                }
                @include breakpoint("medium"){
                    width: calc((100% - 6px)/3);
                    padding: 0 6px;
                }
                @include breakpoint("large"){
                    width: calc((100% - 8px)/3);
                    padding: 0 8px;
                    margin-bottom: 0;
                }
                @include breakpoint("xlarge"){
                    width: calc((100% - 10px)/3);
                    padding: 0 10px;
                }
                @include breakpoint("xxlarge"){
                    width: calc((100% - 16px)/3);
                    padding: 0 16px;
                }
                    &:first-child{
                        padding-left:0;
                    }                
                    &:last-child{
                        padding-right:0;
                    }
                .calling_contain {
                    padding: 15px 5px;        
                   border: 1px solid #dddddd;
                   @include breakpoint("xxsmall"){
                         padding:15px 10px;
                   }
                   @include breakpoint("small"){
                        padding:20px;
                   }
                   @include breakpoint("medium"){
                       padding: 1.1805555555555556vw 0;
                   }
                   @include breakpoint("xxxlarge"){
                          padding: 34px 0;
                   }
                        &:hover{
                            background:#eeeeee;
                        } 
                        .cls-1{
                            fill:#008ac9;
                        } 
                }    
                    .call_img{
                        width: 100%;
                        display: block;
                        margin-bottom: 20px;
                        @include breakpoint("medium"){
                            margin-bottom: 0.6944444444444444vw;
                        }
                        @include breakpoint("xxxlarge"){
                            margin-bottom: 20px;
                        }
                        svg{
                            width: 20px;
                            height: 20px;
                            @include breakpoint("medium"){
                                width:1.1111111111111112vw;
                                height:1.0416666666666667vw;
                            } 
                            @include breakpoint("xxxlarge"){
                                width: 32px;
                                height: 30px;
                            }     
                        }
                    }
                    .call_link{
                        width: 100%;
                        color: #000;
                        text-decoration: none;
                        font-size:14px;
                        text-transform: uppercase;
                        font-family: 'Helvetica Neu Bold';      
                            @include breakpoint("xxsmall"){
                                font-size:14px;
                            }                               
                            @include breakpoint("medium"){
                                font-size:0.7291666666666666vw;
                            }                                    
                            @include breakpoint("xxxlarge"){
                                font-size: 21.99px;
                            }
                            a{
                                text-decoration: none;
                            }
                   }   
            }
        }
    }
}


/*product contact css end here*/

/*description tab css start here*/
.bdr{
    border-bottom: 0;
    @include breakpoint("xsmall"){
       border-bottom: 1px solid #cccccc;
    }   
}
.productView-description{
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    @include breakpoint("medium"){
       padding-top:6.597222222222222vw;
    }   
    @include breakpoint("xxxlarge"){
       padding-top:190px;
    }   
     .tabs-contents{
        margin-bottom: 0;
        padding: 20px 0;
            @include breakpoint("xsmall"){
                padding:25px 0;
            }
            @include breakpoint("small"){
                padding:30px 0;
            }
            @include breakpoint("medium"){
                padding:40px 0;
            }
            @include breakpoint("large"){
                padding:5.451388888888888vw 0;
            }
            @include breakpoint("xxxlarge"){
                padding: 157px 0;
            }
    }
    .tabs{
        margin: 0;
        padding: 0;
        border-bottom:0;   
        .tab {
                    float: left;
                    width:100%;
                    border-top: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    @include breakpoint("xsmall"){
                        width: auto;
                        border-top: none;
                        border-bottom:none;
                        margin-right: 15px;
                        @include breakpoint("small"){
                            margin-right:30px;
                        } 
                        @include breakpoint("medium"){
                            margin-right: 50px;
                        } 
                        @include breakpoint("large"){
                            margin-right:5.555555555555555vw;
                        }  
                        @include breakpoint("xxxlarge"){
                            margin-right:160px;
                        } 

                    &:first-child {
                        padding:0;
                    }

                    }
                    .tab-title {
                        font-size: 10px;
                        color: #3d3d3d;
                        font-family: 'Helvetica Neu Bold';
                        margin:15px 0;
                        padding: 0;
                        @include breakpoint("xxsmall"){
                            font-size:12px;
                        }
                        @include breakpoint("xsmall"){
                            margin:0 0 15px 0;
                        }
                        @include breakpoint("small"){
                            font-size:14px;
                        }
                        @include breakpoint("small"){
                         font-size:15px;
                        }   
                        @include breakpoint("large"){
                         font-size: 1.2152777777777777vw;
                         line-height: 1.1;
                         margin:0 0 1.875vw 0;
                        } 
                        @include breakpoint("xxxlarge"){
                             font-size: 35px;
                        }                         
                    }

                }
        .tab.is-active{
            border: none;
            padding: 0;
            border-bottom: 1px solid #f11a22;
            border-top: 1px solid #f11a22;
             @include breakpoint("xsmall"){
                border-top:none;
             }
             @include breakpoint("medium"){
                border-bottom:6px solid #f11a22;
                border-top: none;
             }
             @include breakpoint("xxlarge"){
                border: none;
                padding: 0;
                border-bottom:6px solid #f11a22;
             }
            .tab-title{
                color: #f11a22;
            }
        }
    }
    .tab-content{
        padding: 0;
    }
}

/*Video css start here*/
.tabs-contents{
    .videoGallery{
        margin-bottom: 0;
        .toggle-title{
            display:none;
        }
    }
}

/*Video css end here*/

/* installation Guide tabbing css start here*/
.tabs-contents{
    .pdf-docs{
        margin: 0;
        .p-file{
            list-style: none;
                margin-bottom: 10px;
                @include breakpoint("medium"){
                    margin-bottom:1.2152777777777777vw;
                }
                @include breakpoint("xxxlarge"){
                    margin-bottom::35px;
                }
            .is-pdf{
                display: none;
            }
            a{
                text-decoration: none;
                color:#3d3d3d;
                line-height: 1;
                font-size: 14px;
                    @include breakpoint("medium"){
                        font-size:1.2152777777777777vw;
                    }
                    @include breakpoint("xxxlarge"){
                        font-size:35px;
                    }
                    &:hover{
                        color:#f11a22;
                    }
                    &::before{
                        content: '';
                        background: url(../img/pdf_icon.png) no-repeat;
                        width: 32px;
                        height:32px;
                        display: inline-block;
                        vertical-align:bottom;
                        margin-right: 10px;
                        @include breakpoint("medium"){
                            margin-right:15px;
                        } 
                        @include breakpoint("large"){
                            margin-right: 20px;
                        } 
                    }
            }
        }
    }
    .videoGallery{
        border:none;
        .videoGallery-list{
            margin:0;
            .videoGallery-item{
                width: 100%;
                padding: 0;
                margin-bottom: 10px;
                @include breakpoint("medium"){
                    margin-bottom:1.2152777777777777vw;
                }
                @include breakpoint("xxxlarge"){
                    margin-bottom::35px;
                }
                h5.video-title{
                    opacity: 1;
                    color: #3d3d3d;
                    font-family: 'Lato', sans-serif;
                    font-size: 14px;
                    line-height: 1.363;
                    @include breakpoint("medium"){
                        font-size:1.2152777777777777vw;
                    }
                    @include breakpoint("xxxlarge"){
                        font-size:35px;
                    }
                     &:hover{
                        color:#f11a22;
                    }
                    &::before{
                        content: '';
                        background: url(../img/Social-YouTube-hover.svg) no-repeat;
                        width: 38px;
                        height:28px;
                        display: inline-block;
                        vertical-align: bottom;
                        margin-right: 10px;
                        @include breakpoint("medium"){
                            margin-right:15px;
                        } 
                        @include breakpoint("large"){
                            margin-right: 20px;
                        } 
                    }
                }
                .video{
                    margin:0;
                    opacity: 1;
                }
            }
        }
    }
    
}


section.installationvideo-popup {
    z-index: 99999999;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    background : rgba(0,0,0,.9);

    .catc{ 
        position: fixed;
        top: 50%;
        height: 85vh;
        left: 50%;
        width: 85vw;
        transform: translate(-50%,-50%);
        .video-frame{
            width: 100%;
            height: 100%;
        }
    }
    a.close{
        text-decoration: none;
        font-size: 26px;
        color: #fff;
        position: absolute;
        right: 5vh;
        top:1vh;
    }
}

/* installation Guide tabbing css start here*/

/* faq tab css start here*/
.tabs-contents{
    .faq_qa{
        .qa_row{
            .question_part{
                padding: 15px 0;
                width: 100%;
                display: inline-block;
                .enq_img{
                   float: left;
                }
                .enq_question{
                   float: left;
                    background:#2d4762;
                    border-radius:10px;
                }
            }
            .answer_part{
                padding:15px 0;
                width: 100%;
                display: inline-block;
                .enq_img {
                    float: right;
                    text-align: right;   
                }
                .enq_question{
                    border-radius:10px;
                    background:#008ac9;
                    float:right; 
                }
            }
        }
    }
    .question_part,
    .answer_part{
         h5{
            margin: 0;
            color: #fff;
            font-size:14px;
            line-height: 1.363;
                @include breakpoint("xsmall"){
                     font-size:15px;
                }
                @include breakpoint("small"){
                     font-size:15px;
                }
                @include breakpoint("medium"){
                     font-size:1.3888888888888888vw;
                }
                @include breakpoint("xxxlarge"){
                     font-size:40px;
                }
        }
         p{
             color: #fff;
             font-size: 14px;
             line-height: 1.363;
                @include breakpoint("medium"){
                     font-size:1.2152777777777777vw;
                }
                @include breakpoint("xxxlarge"){
                     font-size:35px;
                }
        }
        .enq_img{
            width: 20%;
            @include breakpoint("xsmall"){
                width:12%;
            }    
           @include breakpoint("small"){
                width:10%;
            }       
           @include breakpoint("xlarge"){
                width:5%;
            }    
            img{
                height: 50px;
                width: 50px;
                border-radius: 100%;
            }
        }
        .enq_question{
            width: 80%;
            padding: 10px;
            @include breakpoint("xsmall"){
                width:85%;
                padding: 15px;
            }    
            @include breakpoint("small"){
                width:75%;
                padding:20px;
            }    
            @include breakpoint("medium"){
                width: 60%;
                padding:1.0416666666666667vw;
            }
            @include breakpoint("large"){
                width: 50%;
            }
            @include breakpoint("xxxlarge"){
                padding: 30px;
            }
            p{
                width: 100%;
            }
        }
    }    
}


/* faq tab css End here*/

/* Review tabbing css start here*/
.toggle.productReviews{
    border:none;
    margin-bottom: 0;
    h4.toggle-title{
        display: none;
    }
    .pagination-list{
        margin: 0;
    }
    .productReviews-list{
        text-align: center;
        margin: 0;
        @include breakpoint("small"){
            padding-bottom: 20px;
        }
        @include breakpoint("large"){
            padding-bottom: 25px;
        }
        @include breakpoint("xlarge"){
            padding-bottom:30px;
        }
        @include breakpoint("xxlarge"){
            padding-bottom:40px;
        }
        .productReview{
            width: 100%;
            padding:0 0 20px 0;
            @include breakpoint("medium"){
                padding:0 0 2.4305555555555554vw 0;
            }
            @include breakpoint("xxxlarge"){
                padding:0 0 70px 0;
            }
            .productReview-rating{
                .icon{
                    width:25px;
                    height:25px;
                     @include breakpoint("medium"){
                        width:1.1111111111111112vw;
                        height:1.0416666666666667vw;
                     }
                     @include breakpoint("xxxlarge"){
                        width: 32PX;
                        height: 30PX;
                     }
                }     
                span.icon.icon--ratingEmpty svg{
                     fill:#e7e7e7;
                }
                span.icon.icon--ratingFull svg{
                    fill:#2d4762;
                }
            }
            h5.productReview-title{
                color: #3d3d3d;
                font-size:14px;
                margin: 10px 0;
                @include breakpoint("xsmall"){
                     font-size:15px;
                }
                @include breakpoint("small"){
                     font-size:16px;
                }
                @include breakpoint("medium"){
                    font-size:1.3888888888888888vw;
                    margin: 1.2152777777777777vw 0;
                }
                @include breakpoint("xxxlarge"){
                     font-size:40px;
                     margin:35px 0;
                }
            }
            p.productReview-author{
                width: 100%;
                font-size: 14px;
                line-height: 1.363;
                margin-bottom:20px;
                @include breakpoint("medium"){
                    font-size:1.2152777777777777vw;
                    margin-bottom:1.2152777777777777vw; 
                }
                @include breakpoint("xxxlarge"){
                    font-size:35px;
                    margin-bottom:35px;
                }
            }
            .productReview-body{
                width: 100%;
                font-size: 14px;
                line-height: 1.363;
                @include breakpoint("medium"){
                    font-size:1.2152777777777777vw;
                }
                @include breakpoint("xxxlarge"){
                    font-size:35px;
                }
            }
        }
    }
}

/*Review tabbing css end here


/*description tab css end here*/




/*Product description css start here*/
.productView-description{
         h3.description_title{
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: #3d3d3d;
            font-size:14px;
            margin: 0 0 10px 0;
            line-height: 1;
            @include breakpoint("xsmall"){
                 font-size:15px;
                 margin: 0 0 10px 0;
            }
            @include breakpoint("small"){
                 font-size:16px;
                 margin: 0 0 10px 0;
            }
            @include breakpoint("large"){
                 font-size:1.3888888888888888vw;
                 margin: 0 0 2.1527777777777777vw 0;
            }
            @include breakpoint("xxxlarge"){
                 font-size: 40px;
                 margin: 0 0 25px 0;
            }
        }
        .productdescription{
            color: #3d3d3d;
            display: inline-block;
            width: 100%;
            font-size:14px;  
            margin: 0;
            line-height: 1.5;
            @include breakpoint("xsmall"){
                 font-size:14px;
                 
            }
            @include breakpoint("small"){
                 font-size:15px;
                 
            }
            @include breakpoint("large"){
                 font-size:1.2152777777777777vw;
                 line-height: 1.5;
                 
            }
            @include breakpoint("xxxlarge"){
                 font-size: 35px;
                
            }
     }
    .left_sidecontain{
        float: left;
        width: 100%;
        @include breakpoint("small"){
            width:41.73611111111111vw;
        }
        .product_contain{
            margin-bottom:25px;
            line-height: 1;
                &:last-child{
                    margin-bottom:0;
                }
                 @include breakpoint("large"){
                    margin-bottom:3.3680555555555554vw;
                }
        }
    }
    .right_sidecontain{
        float: right;
        width: 100%;
        margin-top: 20px;
        @include breakpoint("small"){
            width:41.73611111111111vw;
            margin-top:0;
        }   
        .description_note{
            margin-top: 15px;
            .note_decription{
                font-weight: 600;
                color:#3d3d3d;
                font-size: 14px;
                margin-bottom:10px;
                @include breakpoint("xsmall"){
                      font-size:14px;
                      margin-bottom:10px;
                }
                @include breakpoint("small"){
                      font-size:15px;
                      margin-bottom:10px;
                }
                @include breakpoint("large"){
                      font-size:1.2152777777777777vw;
                      margin-bottom:2.1527777777777777vw;
                }
                @include breakpoint("xxxlarge"){
                     font-size: 35px;
                     margin-bottom:62px;
                }
            }
        }
    }
    p{
            color: #3d3d3d;
            display: inline-block;
            width: 100%;
            font-size:14px;  
            margin: 0;
            @include breakpoint("xsmall"){
                 font-size:14px;
                 width:95%;
            }
            @include breakpoint("small"){
                 font-size:15px;
                 width:95%;
            }
            @include breakpoint("large"){
                 font-size:15px;
                 width:95%;
            }
            @include breakpoint("xlarge"){
                 font-size:18px;
                 width:100%;
            }
            @include breakpoint("xxlarge"){
                 font-size: 24px;
                 width: 90%;
            }
    }
}

/*product decription css end here*/


/*Related product css start here*/
.related_product{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #cccccc;
    padding: 20px 0;
    @include breakpoint("xsmall"){
        padding:25px 0;
    }
    @include breakpoint("small"){
        padding:30px 0;
    }
    
    @include breakpoint("medium"){
        padding:6.944444444444445vw 0;
    }
    @include breakpoint("xxxlarge"){
        padding:200px 0;
    }
    button.slick-next.slick-arrow {
        display: none !important;
    }
    button.slick-prev.slick-arrow{
        display: none !important;
    }
    
    .slick-list.draggable{
        padding:10px 0;
    }
    .related_title{
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        color: #3d3d3d;
        font-size: 14px;
        @include breakpoint("xsmall"){
           font-size:15px;
        }
        @include breakpoint("medium"){
           font-size:1.3888888888888888vw;
           line-height: 1; 

        }
        @include breakpoint("xxxlarge"){
            font-size:40px; 
        }
    }
    .slick-prev{
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
        background:transparent;
        border: none;
        left: 0;
    }
    .slick-next {
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
        background:transparent;
        border: none;
        right: 0;
    }
}

/*Related product css end here*/
.productView-details{
    padding-right:0;
    padding-left: 0;
    @include breakpoint("xsmall"){
         padding-right: 1rem;
         padding-left: 1rem;
    }
}

/*Write a Review css start here*/
div#modal-review-form{
    form.form.writeReview-form{
        .modal-content{
                .modal-header-title{
                    color:#000;
                }
                .modal-close span{
                    color:#000;
                }
        }
    }
}

/*Write a Review css end here*/
#modal-review-form{
    text-decoration:underline !important;   
}
.productView{
    .productView-details{
         @include breakpoint("medium"){
            padding-right: 0;
         }
    }
}


.productView-images{

   @include breakpoint("medium"){ max-width: 47.56944444444444vw; width: 100%; padding-right: 4.861111111111111vw;}
   @include breakpoint("xxxlarge"){ max-width: 1230px; }
}

.productView-details{
    @include breakpoint("medium"){ max-width: 42.708333333333336vw; width: 100%; padding-left: 6.25vw; }
    @include breakpoint("xxxlarge"){ max-width: 1050px; }
}
.productView .productView-images .top li.productView-thumbnail.slick-slide{ border: transparent ; }

.productView-details{
    .form-field{
        select.form-select.form-select--small{
                padding:0 34px 0 15px; 
        }
    }
}

.product_contain.sku{
    margin-bottom: 10px;
    display: inline-block;
    @include breakpoint("medium"){
     margin-bottom:0.9722222222222222vw;
    }
    @include breakpoint("xxxlarge"){
     margin-bottom:28px;
    } 
}
.w_review{
    &:hover{
        color:#f11a22;
    }
}
      

.calling_contain{
    position: relative;
}
.livechat_button{
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%; 
        opacity:0;
    }
}

//29-09-2018 css 

/*Product detail page css end here*/
[data-product-attribute="set-select"]{
    .form-label--inlineSmall{
        display:none;
    }
}
.p_option{
    .form-field{
        .form-label{
            small{
               vertical-align: middle;
               color:#000; 
                font-size: 14px;
                @include breakpoint("medium"){
                   font-size: 1vw;
                }
                @include breakpoint("xxxlarge"){
                   font-size:30px;
                }
            }
        }
    }
}
[data-product-attribute="product-list"]{
    .form-label--inlineSmall{
        color: #000;
    }
    .form-label{
        color: #000;
    }

}
