

/*Web pages css start here*/

/* h1 tag font style css start*/
.page-content.page-content--centered h1{
    

    line-height: 1.2; font-size : 19px; margin-bottom : 15px;
    
    @include breakpoint("xsmall"){ font-size : 26px; margin-bottom : 20px; }
    @include breakpoint("medium"){ font-size:2.0833333333333335vw; margin-bottom : 2.951388888888889vw; }
    @include breakpoint("xxxlarge"){
        font-size:60px; margin-bottom : 85px;
    }
}
/* h1 tag font style css end*/


/* p tag font style css start*/ 
.page-content.page-content--centered {
    p , span, a, p span, p a , ul li, ol li, strong, em, th, td{
        
        line-height:1.4;
        font-size:15px;  
        margin-bottom:15px;
        
        @include breakpoint("xxsmall"){
            font-size:16px;
        }
        @include breakpoint("small"){
            font-size:18px;
        }
        @include breakpoint("medium"){
            font-size:1.2152777777777777vw;
            margin-bottom:1.3888888888888888vw;
        }
        @include breakpoint("xxxlarge"){ 
            font-size : 35px;
            margin-bottom:40px;
        }        
    }
}
/* p tag font style css end*/


/* h4 tag font style css start*/
.page-content.page-content--centered h4{
    font-size:16px;
    @include breakpoint("xsmall"){
        font-size:19px;
    }
    @include breakpoint("medium"){
        font-size:1.3888888888888888vw;
    }
    @include breakpoint("xxxlarge"){
        font-size:40px;
    }
}
/* h4 tag font style css end*/

/* h3 tag font style css start*/
.page-content.page-content--centered h3{
    font-size:17px;
    margin:0;
    @include breakpoint("xsmall"){
        font-size:19px;
    }
    @include breakpoint("medium"){
        font-size:1.5625vw;
        margin:0 0 1.3888888888888888vw 0;
    }
    @include breakpoint("xxxlarge"){
        font-size:45px;
        margin:0 0 40px 0;
    }
}
/* h3 tag font style css end*/


/* h2 tag font style css start*/
.page-content.page-content--centered h2{
    font-size:18px;
    @include breakpoint("xsmall")
    {
        font-size:20px;
    }
    @include breakpoint("medium"){
        font-size:1.7361111111111112vw;
    }
    @include breakpoint("xxxlarge"){
        font-size:50px;
    }
}
/* h2 tag font style css end*/


/* h5 tag font style css start*/
.page-content.page-content--centered h5{
    font-size:16px;
    @include breakpoint("medium"){
        font-size:1.0416666666666667vw;
    }
    @include breakpoint("xxxlarge"){
        font-size:30px;
    }
}
/* h5 tag font style css end*/



/*resource center page css start*/
.page{
      margin:-24px 0 0 0;
     @include breakpoint("small"){
        margin: 0;
     }
    img.title_background{
        display: none;
    }
    h1.page-heading.web-head{
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        color:#fff;
        font-size:15px;
        line-height: 1;
        padding:25px 0;
        margin: 0;
            @include breakpoint("xxsmall"){
                font-size:20px;
                padding:25px 0;
            }
            @include breakpoint("xsmall"){
                font-size:25px;
                padding:40px 0;
            }
            @include breakpoint("small"){
                font-size:40px;
                padding:100px 0;
            }
            @include breakpoint("medium"){
                font-size:5.208333333333333vw;
                padding:8.680555555555555vw 0;
            }
            @include breakpoint("xxxlarge"){
                font-size:129.93px;
                padding:250px 0;
            }
    }
    .resource_center_list{
        margin: 0 -1.3888888888888888vw;
        @include breakpoint("xsmall"){
           padding: 38px 0 0 0;
        }
        @include breakpoint("medium"){
           padding: 1.7361111111111112vw 0 0 0;
        }
        @include breakpoint("xxlarge"){
           padding: 50px 0 0 0;
        }
        
        
        .resource_center_img{
            img{
                width: 100%;
            }
        }
    }
}
.page-content--centered
{
    padding: 0;
    margin: 0;
    width: 100%;
}
.resource_center_list .column
{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0px;

    @include breakpoint("xxsmall")
    {
        width: 100%;
        padding: 0px;
    }
    @include breakpoint("xsmall")
    {
        width: 50%;
        padding: 10px 15px;
    }
    @include breakpoint("medium")
    {
        width: 33.33%;
        padding:1.3888888888888888vw;
    }
    @include breakpoint("large")
    {
        width: 25%;
    }
    @include breakpoint("xxxlarge")
    {
        width: 25%;
        padding: 40px 40px 0;
    }
}

.resource_center_text{
    p{
        font-size: 14px;
        text-align: justify;
        color: #000;
        margin: 0;
   } 
}

.resource_center_contain
{
    text-align: center;
    padding: 20px;
    @include breakpoint("xsmall")
    {
        padding:23 10px;
    }
    @include breakpoint("small")
    {
        padding:33px 10px;
    }
    @include breakpoint("medium")
    {
        padding:2.0833333333333335vw 1.0416666666666667vw;
    }
    @include breakpoint("xxxlarge")
    {
         padding:60px 30px;
    }
}
.resource_center_list .column:hover .resource_center_contain
{
    background-color: #f8f8f8;
}
.resource_center_contain h5
{
     font-family: 'Helvetica Neu Bold';
    display: inline-block;
    font-size: 15px;
    padding: 0 0 12px;
    margin: 0;
    @include breakpoint("xsmall")
    {
        padding-bottom:15px;
    }
    @include breakpoint("small")
    {
        padding-bottom:15px;
    }
    @include breakpoint("medium")
    {
        padding-bottom:1.3888888888888888vw ;
    }
    @include breakpoint("xxxlarge")
    {
        padding-bottom:40px;
    }
}
.page-content.page-content--centered .resource_center_contain p
{
    font-size: 14px;
    min-height: auto;
    @include breakpoint("xxsmall")
    {
        min-height: auto;
        font-size:16px;
    }
    @include breakpoint("xsmall")
    {
        min-height:215px;
        font-size:14px;
    }
    @include breakpoint("small")
    {
        min-height:180px;
        font-size:16px;
    }
    @include breakpoint("medium")
    {
        min-height: 6.944444444444445vw;
        font-size:0.9638888888888888vw;
    }
    @include breakpoint("large")
    {
        min-height:10.944444vw;
    }
    @include breakpoint("xlarge")
    {
         min-height:10.544444vw;
    }
    @include breakpoint("xxlarge")
    {
        min-height:10.944444vw;
    }
    @include breakpoint("xxxlarge")
    {
        min-height:200px;
        font-size:22px;
    }
}
.page-content.page-content--centered .resource_center_contain a
{
    color: #f11a22;
    text-transform: uppercase;
    font-family: 'Helvetica Neu Bold';
    font-size: 14px;
    text-decoration: none;
    @include breakpoint("xxsmall")
    {
        font-size:15px;
    }
    @include breakpoint("xsmall")
    {
        font-size:14px;
    }
    @include breakpoint("medium")
    {
        font-size: 0.9638888888888888vw;
    }
    @include breakpoint("xxxlarge")
    {
        font-size: 22px;
    }
}
.resource_center_img
{
    position: relative;
}
.up-arrow
{
    display: none;
}
.resource_center_list .column:hover .up-arrow
{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f8f8f8;
    position: absolute;
    bottom: 0;
    left: 46%;
    display: block;
}


/*resource center page css start*/

/*Lighting web page css start here*/

/*lighting page*/
.lighting_webpage_para6{
    .column.para6_right{
        img{
            width: 100%;
        }
    }
}
.lighting_webpage
{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    width:100%;
    margin:0;
  

    @include breakpoint("xxsmall")
    {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        margin:0;
        width: 100%;
    }
   
    @include breakpoint("medium")
    {
        padding-left: 0;
        padding-right:0;
        width: 100%;
        max-width: 65.10416666666667vw;
        margin-right: auto;
        margin-left: auto;
        clear: both;
    }
    @include breakpoint("xxxlarge")
    {
        width: 66%;
    }
}
.lighting_webpage{
    .container{
        padding: 0;
    }
}
.page-content.page-content--centered .lighting_webpage_para1 h1
{
    text-align: center;
    text-transform: uppercase;
    color: #3d3d3d;

    @include breakpoint("medium")
    {
        margin:0 0 3.4722222222222223vw;
        line-height: 1;
    }
    @include breakpoint("xxxlarge")
    {
        margin: 0 0 100px;
    }
}
.lighting_webpage_para1 p
{
    color: #3d3d3d;
    @include breakpoint("large")
    {
        line-height: 1.3
    }
    @include breakpoint("xxxlarge")
    {
        margin-bottom: 115px;
        margin-bottom: 0;
    }
}
.lighting_webpage h4
{
    text-transform: uppercase;
    text-align: center;
    color: #3d3d3d;
    padding:0 0 20px;
    margin: 0;

    @include breakpoint("medium")
    {
        line-height: 1;
        margin: 3.819444444444444vw 0 2.0833333333333335vw;
        padding: 0;
    }
    @include breakpoint("xxxlarge")
    {
        margin:110px 0 60px;
    }
}
.lighting_webpage_para2 span
{
    color:#3d3d3d;
}

.lighting_webpage_para2 p
{
    color: #3d3d3d;

    @include breakpoint("large")
    {
        line-height: 1.3;
        margin-bottom: 2.013888888888889vw !important;
    }

    @include breakpoint("xxxlarge")
    {
        margin-bottom: 0;
    }
}
.lighting_webpage_para2 p:last-child{
    @include breakpoint("large")
    {
        margin-bottom: 0 !important;
    }
}

.lighting_webpage_para3 .row
{
    margin-bottom: 3.125vw;
}
.lighting_webpage_para3 .column
{
    width: 100%;
    display: inline-block;
    text-align: center;

    @include breakpoint("small")
    {
        width: 33.33%;
        display: inline-block;
    }
    @include breakpoint("xlarge")
    {
        width: 33.33%;
        display: inline-block;
    }
}
.lighting_webpage_para3 p
{
    color: #3d3d3d;
    
    @include breakpoint("large")
    {
        line-height: 1.3;
    }
    @include breakpoint("xxxlarge")
    {
        padding-bottom: 66px;
        margin-bottom: 0;
    }
}
.lighting_webpage_para3 p:last-child
{
    text-align: center;
    color: #999999;
    margin-bottom: 0;


}
.lighting_webpage_para4
{
    padding: 30px 0px;

    @include breakpoint("medium")
    {
    padding:2.0833333333333335vw 0 4.166666666666667vw 0;
    margin: 0 -2rem;
    }
    @include breakpoint("xxxlarge")
    {
        padding: 60px 0 120px 0;
    }
}
.lighting_webpage_para4 .row
{
    background-color: #f8f8f8;
}
.lighting_webpage_para4 .column img
{
    width:100%;
}
.lighting_webpage_para4 .column
{
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint("xxsmall")
    {
        width: 100%;
    }
    @include breakpoint("medium")
    {
        width: 49.9%;
    }
    @include breakpoint("xlarge")
    {
        width: 49.9%;
        display: inline-block;
        vertical-align: middle;
    }
}


.para4_text h4
{
    text-transform: uppercase;
    color: #3d3d3d;
    margin:0;
    padding:0 0 20px;

    @include breakpoint("small")
    {
        padding:0 0 25px;
    }
    @include breakpoint("large")
    {
        margin: 0 0 2.0833333333333335vw;
        line-height: 1.3;
    }
}
.para4_text
{
    padding:20px;

    @include breakpoint("xxsmall")
    {   
        padding:20px;
    }
    @include breakpoint("small")
    {
        padding:30px;
    }
    @include breakpoint("medium")
    {
        padding: 0 8.333333333333334vw;
    }
    @include breakpoint("xxxlarge")
    {
        padding: 0 240px;
    }
    
}
.lighting_webpage_para5
{
    @include breakpoint("medium")
    {
        margin-bottom:2.7777777777777777vw;
    }
    @include breakpoint("xxxlarge")
    {
        margin-bottom:80px;
    }
}
.lighting_webpage_para5 ul li
{
    color: #008ac9;
    @include breakpoint("large")
    {
        margin-bottom: 1.2152777777777777vw;
    }
}
.page-content.page-content--centered .lighting_webpage_para5 ul li:last-child{
    margin-bottom: 24px;
    @include breakpoint("large")
    {
        margin-bottom: 2.0833333333333335vw;
    }
    @include breakpoint("xxxlarge")
    {
        margin-bottom:60px;
    }
    
}
.lighting_webpage_para5 ul  
{
    display: block;
    list-style-type: disc;
    text-align: justify;
    line-height: 1;
    margin: 0 0 0 16px;
    
    @include breakpoint("medium")
    {
        margin:0;
    }

}
.lighting_webpage_para5 ul li span
{
    color: #3d3d3d;
    @include breakpoint("large")
    {
        margin-bottom: 1.2152777777777777vw;
    }
}
.page-content.page-content--centered .lighting_webpage_para5 ul li
{
    @include breakpoint("medium")
    {
        margin-bottom:0.6944444444444444vw;
    }
    @include breakpoint("xxxlarge")
    {
        margin-bottom:20px;
    }
}
.lighting_webpage_para5 p
{
    @include breakpoint("medium")
    {
        padding-bottom:1.3888888888888888vw;
    }
    @include breakpoint("xxxlarge")
    {
        padding-bottom: 40px;
        margin-bottom: 0;
    }
}
.lighting_webpage_para5 p:nth-child(2)
{
    @include breakpoint("xxxlarge")
    {
        padding-bottom: 20px;
    }
}
.lighting_webpage_para6
{
    margin: 30px 0px;
    
    @include breakpoint("medium")
    {
        margin: 1.3888888888888888vw 0 3.819444444444444vw 0;
    }
    @include breakpoint("xxxlarge")
    {
        margin: 40px 0 110px 0;
    }
}
.lighting_webpage_para6 .row
{
    background-color: #f8f8f8;
}
.lighting_webpage_para6 .column
{
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint("xxsmall")
    {
        width: 100%;
    }
    @include breakpoint("medium")
    {
        width: 49.9%;
    }
    @include breakpoint("xlarge")
    {
        width: 49.9%;
        display: inline-block;
        vertical-align: middle;
    }
}
.para6_text p
{
    @include breakpoint("small")
    {
        min-height: 252px;
    }
    @include breakpoint("medium")
    {
        min-height: auto;
    }
}
.para6_text p, .lighting_webpage_para7 p
{
    @include breakpoint("large")
    {
        line-height: 1.3;
    }
}
.lighting_webpage_para7 
{
    padding-bottom:10px;
    @include breakpoint("xxsmall")
    {
        padding-bottom: 10px;
    }
    @include breakpoint("small")
    {
        padding-bottom: 20px;
    }
    @include breakpoint("large")
    {
        padding-bottom: 1.9444444444444444vw;
    }
}
.lighting_webpage_para7 p
{
    @include breakpoint("medium")
    {
        padding-bottom: 1.3888888888888888vw;
    }
    @include breakpoint("xxxlarge")
    {
        padding-bottom: 40px;
    }
}

.para6_text h4
{
    text-transform: uppercase;
    color: #3d3d3d;
    margin:0;
    padding:0 0 20px;
    
    @include breakpoint("small")
    {
        padding:0 0 25px;
    }
    @include breakpoint("large")
    {
        margin: 0 0 2.0833333333333335vw;
        line-height: 1.3;
    }
}
.para6_text
{
    
    padding:20px;

    @include breakpoint("xxsmall")
    {
        padding:20px;
    }
    @include breakpoint("small")
    {
        padding:30px;
    }
    @include breakpoint("medium")
    {
        padding: 0 8.333333333333334vw;
    }
    @include breakpoint("xxxlarge")
    {
        padding: 0 240px;
    }
}
.lighting_webpage_para2{
    li{
        color:#3d3d3d;
    }
}
.lighting_webpage_para6 .desktop
{
    display: none;
    @include breakpoint("medium")
    {
        display: block;
    }
}
.lighting_webpage_para6 .responsive
{
    display: block;
    @include breakpoint("small")
    {
        margin-top:40px;
    }
    @include breakpoint("medium")
    {
        display: none;
    }
}
/*Lighting web page css end here*/

/*About us page css start here*/
.page-content--centered{
    p{
      /*  margin: 0;*/

    }
    .aboutus_data,
    .Terms_data,
    .returnpolicy_data,
    .groupby_jottform,
    .privacypolicy_data{
        padding: 20px 0 10px 0;
         @include breakpoint("xsmall"){
            padding:15px 0 10px 0;
          }  
         @include breakpoint("small")
         {
             padding:0 0 10px 0; 
         }
         @include breakpoint("medium"){
            padding:0 0 0.6944444444444444vw 0;
          }  
         @include breakpoint("xxxlarge"){
             padding:0 0 20px 0;
         }
        .aboutus_Contain,
        .privacy_contain,
        .returnpolcy_contain,
        .privacy_contain,
        .groupby_contain{
            //  margin: 0;
             color: #000;
                &:last-child{
                    // margin-bottom:0;
                }
            
        }
    }
}

h3.terms_title,
h3.return_title{
    color: #000;
    text-transform: capitalize;
    margin: 0 0 10px 0;
    padding-bottom:15px;
        @include breakpoint("medium")
        {
            padding-bottom:0;
        }
}
/*About page css end here*/

/*Returns Policy Css start here*/
.returnpolicy_data{
    ul{     
            margin-left: 20px;
            @include breakpoint("xxsmall"){
                margin-left:25px;
            } 
            @include breakpoint("xsmall"){
                margin-left: 30px;
            } 
            @include breakpoint("large"){
                margin-left: 40px;
            } 
            @include breakpoint("xlarge"){
                margin-left: 50px;
            }    
        }
        li{
             font-size: 14px;
             margin: 0;
             color: #000;
             margin-bottom: 15px;
                &:last-child{
                    margin-bottom:0;
                }
            @include breakpoint("xxsmall")
            {
                font-size: 14px;
            }
            @include breakpoint("xsmall")
            {
                font-size: 15px;
            }
            @include breakpoint("large")
            {
                font-size: 16px;
                margin-bottom: 20px;
            }
            @include breakpoint("xlarge")
            {
                font-size: 18px;
                margin-bottom:25px;
            }
            @include breakpoint("xxlarge")
            {
                font-size: 24px;
                margin-bottom:30px;
            }
            @include breakpoint("xxxlarge")
            {
                font-size: 30px;
            } 
        }
}


/*Return Policy css end here*/

/*testimonials css start here*/
.testimonial_webpage
{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    width:100%;
    margin:0;
  

    @include breakpoint("xxsmall")
    {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        margin:0;
        width: 100%;
    }
    @include breakpoint("medium")
    {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        width: 66.66667%;
        margin-right: auto;
        margin-left: auto;
        clear: both;
    }
}
.testimonial_desc
{
    width: 100%;
    font-size: 0;
    padding: 10px 0;

    @include breakpoint("xxsmall")
    {
        padding: 10px 0;
    }
    @include breakpoint("medium")
    {
        padding:1.0416666666666667vw 0;
    }
    @include breakpoint("xxxlarge")
    {
        padding: 30px 0;
    }
}
.testimonial_img
{
    width: 200px;
    text-align: center;
    margin:0 auto;
    @include breakpoint("medium"){
        width: 12.6953125vw;
        display: inline-block;
        vertical-align: top;
    }
    @include breakpoint("xxlarge"){
        width:14.6953125vw;
    }
    @include breakpoint("xxxlarge"){
        width:430px;
    }
}
.testimonial_text
{
    width: 100%;
        display: inline-block;
        vertical-align: middle;
        padding: 20px 0px;
    @include breakpoint("xxsmall")
    {
        width: 100%;
        padding:20px 0;
    }
    @include breakpoint("medium")
    {
        width: 75%;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 30px 30px 30px;
    }   
}
.testimonial_text h2
{
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top:0;
    
    @include breakpoint("medium")
    {
        text-align:left;
        margin-top:0;
    }
} 

.testimonial_subtext
{
    color: #000;
}
.testimonial_subtext p
{
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
}
.testimonial_subtext li
{
    margin-left: 10px;
}
.testimonial_subtext li span
{
    color: #777;
}
.testimonial_webpage a:hover
{
    text-decoration: underline;
}
.testimonial_webpage table tr,.testimonial_webpage th,.testimonial_webpage td
{
    border:1px solid #000;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
    color: #000;

    @include breakpoint("small")
    {
        padding: 5px 10px;
    }
    @include breakpoint("medium")
    {
        padding: 5px 20px;
    }
}
.testimonial_webpage tr td:nth-child(2)
{
    width: 30%;
}
.testimonial_webpage tr td:nth-child(3)
{
    width: 15%;
    text-align: center;

    @include breakpoint("small")
    {
        width: 16%;
    }
    @include breakpoint("medium")
    {
        width: 19%;
    }
}
.testimonial_webpage th
{
    text-align: center;
}
.testimonial_webpage .fa
{
    color: #ccc;
}
.testimonial_webpage .checked
{
    color: #2d4762;
}
.testimonial_webpage ul
{
    margin-bottom: 0;
}
.page-content.page-content--centered .testimonial_webpage h1
{
    color: #000;
    text-align: center;
    margin-bottom:25px;
    @include breakpoint("medium")
    {
        text-align: left;
        margin-bottom:2.951388888888889vw;
    }
}
.testimonial_webpage table
{
    display: none;
    @include breakpoint("xxsmall")
    {
        display: none;
    }
    @include breakpoint("small")
    {
        display: block;
        margin-bottom:1.7361111111111112vw;
    }
    @include breakpoint("xxxlarge")
    {
        margin-bottom:50px;
    }
}
.testimonial_responsive
{
    display: block;
    @include breakpoint("xxsmall")
    {
        display: block;
    }
    @include breakpoint("small")
    {
        display: none;
    }
}

.testimonial_div
{
    display: none;
    padding: 10px 0;
    @include breakpoint("xxsmall")
    {
        display: none;
        padding: 10px 0;
    }
    @include breakpoint("small")
    {
        display: inline-block;
    }
}

.testimonial_responsive h3
{   
        display: block;
        text-transform: capitalize;
        font-size: 16px;
        color: #000;
        padding: 5px 0;
    @include breakpoint("xsmall")
    {
        font-size: 17px;
    }
}
.testimonial_responsive p
{
        margin-bottom: 0;
        margin-left: 1rem;
        font-size: 15px;
    @include breakpoint("xxsmall")
    {
        margin-bottom: 0;
        margin-left: 1rem;
        font-size: 15px;
    }
}
.testimonial_h2
{
        font-size: 17px;
        border-bottom: 1px solid #ddd;
        color: #000;
        padding:5px 0;
        margin-top:10px;

    @include breakpoint("xxsmall")
    {
        
        border-bottom: 1px solid #ddd;
        color: #000;
        padding: 8px 0;
        background-image: url('../img/icons8-chevron-right-24.png');
        background-position: center right;
        background-size: 15px 13px;
        background-repeat: no-repeat;
    }
    @include breakpoint("xsmall")
    {
        font-size: 20px;
        margin-top:0;
    }
}
.testimonial_down
{
    background-image: url('../img/icons8-chevron-down-24.png');
    background-position: center right;
    background-size: 13px 15px;
    background-repeat: no-repeat;
}
.responsive_20 .testimonial_h2
{
    border: none;
}
.testimonial_responsive ul
{   
    margin-left: 2.15rem;
    font-size: 15px;
    @include breakpoint("xxsmall")
    {
        margin-left: 2.15rem;
        font-size: 15px;
    }
}

/*testimonials css start here*/

/* installation guide css start here*/
.install_guide
{
    width:100%;
    @include breakpoint("xxsmall")
    {
        width:100%;
    }
    @include breakpoint("medium")
    {
        font-size: 0;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        clear: both;
    }
}
.install_guide ul 
{
    width: 100%;
    list-style-type: none;
    margin:0;
}
.page-content.page-content--centered .install_guide ul li
{
    display:inline-block;
    vertical-align:middle;
    margin-bottom:0;
}
.page-content.page-content--centered .install_guide ul.title li
{
    @include breakpoint("medium")
    {
        font-size:1.3888888888888888vw;
    }
    @include breakpoint("xxxlarge")
    {
        font-size:40px;
    }
}
.install_guide ul .col-1
{
    width:100%;
    @include breakpoint("xxsmall")
    {
        width:100%;
    }
    @include breakpoint("medium")
    {
        width:15%;
    }
}
.install_guide ul .col-2
{
    width:100%;
    @include breakpoint("xxsmall")
    {
        width:100%;
    }
    @include breakpoint("medium")
    {
        width:35%;
    }
}
.install_guide ul .col-3,.install_guide ul .col-4
{
    width:100%;
    vertical-align:top;
    @include breakpoint("xxsmall")
    {
        width:100%;
    }
    @include breakpoint("medium")
    {
        width:25%;
    }
}
.install_guide .col-2 .rating
{
    border:1px solid #ccc;
    padding-left:10px;
}
.install_guide ul.title
{
    display:none;
    @include breakpoint("xxsmall")
    {
        display:none;
    }
    @include breakpoint("medium")
    {
        background-color:#ccc;
        text-align:center;
        padding:0.6944444444444444vw 0;
        display:block;
    }
    @include breakpoint("xxxlarge")
    {
        padding:20px 0;
    }
}
.install_guide .content
{
    padding:0 20px 20px;
    border-bottom:1px solid #ccc;
    
    @include breakpoint("medium")
    {
        padding:1.0416666666666667vw;
    }
    @include breakpoint("xxxlarge")
    {
        padding:30px;
    }
}
.install_guide .content:last-child
{
    border-bottom:none;
}
.install_guide .content li
{
    padding:0px;
    @include breakpoint("xxsmall")
    {
        padding:0px;
    }
    @include breakpoint("medium")
    {
        padding:0 30px;
    }
}
.install_guide .col-2 h2
{
    margin-top:0;
}
.install_guide a
{
    text-decoration:none;
}
.install_guide strong
{
    font-weight:normal;
    // font-size:15px;
    
    // @include breakpoint("xxsmall")
    // {
    //     font-size:15px;    
    // }
    // @include breakpoint("xlarge")
    // {
    //     font-size:16px;
    // }
    // @include breakpoint("xxlarge")
    // {
    //     font-size:18px;
    // }
}
.install_guide em
{
    font-style:normal;
    font-size:15px;
    
    @include breakpoint("xxsmall")
    {
        font-size:15px;
    }
    @include breakpoint("xlarge")
    {
        font-size:16px;
    }
    @include breakpoint("xxlarge")
    {
        font-size:18px;
    }
}
.install_guide .col-3 strong
{
    color:#f11a22;
}
.page-content.page-content--centered .install_guide h2
{
    font-size:17px;

    @include breakpoint("xsmall")
    {
        font-size:19px;
    }
    @include breakpoint("small")
    {
        font-size:20px;
    }
    @include breakpoint("medium")
    {
        font-size: 1.3541666666666667vw;
        margin:0 0 0.6944444444444444vw 0;
    }
    @include breakpoint("xxxlarge")
    {
        font-size: 39px;
        margin:0 0 20px 0;
    }
}
.page-content.page-content--centered .install_guide h5
{
    display:block;
    margin:20px 0;
    background-color:#ededed;
    font-size:18px;
    padding:7px;

    @include breakpoint("xsmall")
    {
        font-size:20px;
    }
    @include breakpoint("medium")
    {
        display:none; 
    }
}
/*installion Guide Css end here*/

/* purvi's css*/
/* video popup in installation guide css start here */

.popup_install
{
    position: fixed;
    display: block;
    left: 0%; 
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.popup_install_content
{
    margin-top:100px;
    height: 100%;
    max-height: 80vh;
    max-width: 80vw;
    margin: 0 auto;
    @include breakpoint("xxsmall")
    {
        margin-top:100px;
    }
    @include breakpoint("medium")
    {
        margin-top:50px;
    }
    @include breakpoint("large")
    {
        margin-top:60px;
    }
    @include breakpoint("xlarge")
    {
        height: 100%;
        max-height: 80vh;
        max-width: 80vw;
        margin: 0 auto;
        margin-top: 40px;
    }
    @include breakpoint("xxlarge")
    {
        margin-top:60px;
    }
    @include breakpoint("xxxlarge")
    {
        margin-top:80px;
    }
}
.popup_install_content iframe
{
    height: 100%;
    width: 100%;
    border:none;
}
.popup_install .popup_install_close
{
    position: fixed;
    right: 20px;
    color: #fff;
    text-decoration:none;
    @include breakpoint("xxsmall")
    {
        top:20%;
    }
    @include breakpoint("medium")
    {
        right:40px;
        top:12%;
    }

    @include breakpoint("xlarge")
    {
        position: fixed;
        right: 20px;
        top: 20px;
        color: #fff;
        text-decoration:none;
    }
    @include breakpoint("xxlarge")
    {
        right:50px;
        top:30px;
    }
    @include breakpoint("xxxlarge")
    {
        right:60px;
        top:40px;
    }
}

/* video popup in installation guide css end here */

/*Contactus page css start here*/
main.page.contact_p{
   .sucess_mesage {
     text-align: center;
        a{
            &:hover{
                color:#f11a22;
            }
        }
  }
}
[data-contact-form]{
     margin-bottom: 1.5rem;
    @include breakpoint("medium"){
         margin-bottom:5.07421875vw;
    }     
}
.page{
    .page-content--centered{
        .form{
            .form-field{
                .form-label{
                    color: #000;
                    font-size: 13px;
                    @include breakpoint("medium"){
                        font-size: 15px;
                    }
                    @include breakpoint("xlarge"){
                        font-size: 16px;
                    }
                    @include breakpoint("xxlarge"){
                        font-size:20px;
                    }
                }
                .form-input{
                    border-color:#2d4762;
                    border-radius: 0;
                }
            }
        }
    }    
}

/*Contact us page css end here*/ 


/*Web pages css end here*/
