{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page contact_p">

    <h1 class="page-heading">{{page.title}}</h1>

    {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

    <div class="page-content page-content--centered">
      <p class="sucess_mesage">      
            {{#if forms.contact.success}}
                {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
            {{else}}
                <p>{{{page.content}}}</p>
                {{> components/page/contact-us-form}}
            {{/if}}
    </p>
    </div>

</main>

{{/partial}}

{{> layout/base}}
