{{#partial "page"}}


</div>
<main class="page">
    <h1 class="page-heading web-head">{{ page.title }}</h1>
<div class="container"> 
     {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
</div>     
        <div class="page-content page-content--centered">
          
            {{#replace '%%Syndicate%%' page.content}}
                {{> components/page/rss_feed}}
            {{else}}
                <p>{{{page.content}}}</p>
            {{/replace}}
        </div>

        {{#if page.feed}}
            <ul>
                {{#each page.feed}}
                    <li>
                        <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                        <p>{{content}}</p>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
</main>

{{/partial}}

{{> layout/base}}
