<div class="choosetoyr_bmw">
<div class="container" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos="fade-zoom-in"  data-aos-duration="1800" data-aos-delay="600">
		<div class="sereies_part">
			<h3 class="Series_tilte">choose your bmw:</h3>
				<form class="bmw_seriesform">
						<div class="custom-select">
							  <select class="select_series">
								    <option value="volvo">Select Year</option>
								    <option value="saab">1996</option>
								    <option value="fiat">1996</option>
								    <option value="audi">1995</option>
								    <option value="audi">1994</option>
								    <option value="audi">1993</option>
								    <option value="audi">1992</option>
								    <option value="audi">1991</option>
								    <option value="audi">1990</option>
								    <option value="audi">1989</option>
								    <option value="audi">1988</option>
								    <option value="audi">1987</option>
								    <option value="audi">1986</option>
								    <option value="audi">1985</option>
								    <option value="audi">1984</option>
							  </select>
						</div>	


						<div class="custom-select">
							  <select class="select_series">
								    <option value="volvo">Select Series</option>
								    <option value="saab">1996</option>
								    <option value="fiat">1996</option>
								    <option value="audi">1995</option>
								    <option value="audi">1994</option>
								    <option value="audi">1993</option>
								    <option value="audi">1992</option>
								    <option value="audi">1991</option>
								    <option value="audi">1990</option>
							  </select>
						</div>	

						<div class="custom-select">
							  <select class="select_series">
								    <option value="volvo">Select Model</option>
								    <option value="saab">1996</option>
								    <option value="fiat">1996</option>
								    <option value="audi">1995</option>
								    <option value="audi">1994</option>
								    <option value="audi">1993</option>
								    <option value="audi">1992</option>
								    <option value="audi">1991</option>
								    <option value="audi">1990</option>
							  </select>
						</div>	
			  	  		
						<div class="custom-select">
							  <select class="select_series">
								    <option value="volvo">Select Body Style</option>
								    <option value="saab">1996</option>
								    <option value="fiat">1996</option>
								    <option value="audi">1995</option>
								    <option value="audi">1994</option>
								    <option value="audi">1993</option>
								    <option value="audi">1992</option>
								    <option value="audi">1991</option>
								    <option value="audi">1990</option>
							  </select>
					</div>	

					<div class="submit_btn">
						<input type="submit" class="go_button" value="go">
					</div>

			</form>
		</div>	
	</div>
</div>
