<div class="category_part">
	<div class="container">
		<div class="categ_contain" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos="fade-zoom-in"  data-aos-duration="700" data-aos-delay="1800" >
		   <a href="/interior/carbon-fiber/">
		       
					<div class="categ_img">
						<img src="{{cdn 'assets/img/fiber.jpg'}}">
							<div class="caeg_name">
								<a href="/interior/carbon-fiber/">
									CARBON FIBER
								</a>
							</div>
					</div>
						

				<div class="categ_hoverpart">
					<a href="/interior/carbon-fiber/" class="cathov_title">CARBON FIBER</a>
					<p class="cathov_description">
						Enhance the performance and appearance of your BMW with Carbon Fiber Parts and Accessories. Whether you want to shed weight for track days, improve aerodynamics, or create an aggressive look Bimmian carries the finest carbon fiber products available.
					</p>
					<a href="/interior/carbon-fiber/" class="hov_shopnow">SHOP NOW</a>
				</div>	
		  </a>
		</div>	
		

		<div class="categ_contain" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos="fade-zoom-in"  data-aos-duration="800"  data-aos-delay="2000">
			<a href="/lighting/">
					<div class="categ_img">
						<img src="{{cdn 'assets/img/lighting.jpg'}}">
							<div class="caeg_name">
								<a href="/lighting/">
									LIGHTING
								</a>
							</div>
					</div>
			

					<div class="categ_hoverpart">
						<a href="/lighting/" class="cathov_title">LIGHTING</a>
						<p class="cathov_description">
							 Every BMW enthusiast knows that lighting is an essential aspect of vehicle aesthetics. We stock a huge assortment of the brightest LED and HID Headlights, Bulbs, Lenses, and Kits to enhance the look of your BMW and increase the performance of your lighting system.
						</p>
						<a href="/lighting/"" class="hov_shopnow">SHOP NOW</a>
				</div>
		   </a>
		</div>


		<div class="categ_contain" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos="fade-zoom-in"  data-aos-duration="900"  data-aos-delay="2200">
			<a href="/interior/">
					<div class="categ_img">
						<img src="{{cdn 'assets/img/interior.jpg'}}">
							<div class="caeg_name">
								<a href="/lighting/">
									INTERIOR
								</a>
							</div>
					</div>
				

					<div class="categ_hoverpart">
						<a href="/interior/" class="cathov_title">INTERIOR</a>
						<p class="cathov_description">
							 Why does every BMW look exactly the same inside? Customize your ride with a Carbon Fiber Steering Wheel, Red Needles, Colored Aluminum Trim, a Modern Illuminated Shifter or Electroluminescent Accent Lighting Strips for a unique look.
						</p>
						<a href="/interior/" class="hov_shopnow">SHOP NOW</a>
					</div>
			</a>		
		</div>		


		<div class="categ_contain" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos="fade-zoom-in"  data-aos-duration="1000"  data-aos-delay="2600">
		   <a href="/exterior/">
					<div class="categ_img">
						<img src="{{cdn 'assets/img/ecterior.jpg'}}">
						<div class="caeg_name">
							<a href="#">
								exterior
							</a>
						</div>
					</div>
				
				
					<div class="categ_hoverpart">
						<a href="/exterior/" class="cathov_title">
							exterior
						</a>	
							<p class="cathov_description">
								 Nobody wants to drive around in the same car as everyone else. Personalize your BMW with our Exterior Styling, including Painted Parts, Carbon Fiber, Decals and more. Whether you like the stealthy ‘sleeper’ or prefer a bit more flash, we can help you make your ride unique.
							</p>
							<a href="/exterior/" class="hov_shopnow">SHOP NOW</a>
					</div>
			</a>			
		</div>	
	</div>
</div>
