<div class="modification_part">
    <div class="modification_imgpart" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos="fade-zoom-in"  data-aos-duration="700" data-aos-delay="600">
        <img src="{{cdn 'assets/img/modification.jpg'}}">
    </div>
    <div class="modification_contain" aos-animate" data-aos="fade-left" data-aos-duration="700" data-aos-delay="600" data-aos-once="true" data-aos-delay="900" >
            <h3 class="modification_title">MODIFICATIONS, NEWS & REVIEWS</h3>
            <p class="modification_description">
                Be the first to know about everything BMW. Check out our blog where we cover the latest news in the BMW World, showcase the hottest new parts on our site, feature customer rides and provide early access to all of our sales.
            </p>
            <div class="read_more">
                <a href="/bimmian-insights/" class="read_btn">READ MORE</a>
            </div>
    </div>
</div>
