// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 $container-padding;
    width: layout("fixed");
    @include breakpoint("medium") {
       padding: 0;
       max-width : 90.27777777777777vw;
    }
    @include breakpoint("xxxlarge") {
       padding: 0;
       max-width:2600px;
    }
}
