<section class="productCarousel"
    data-slick='{
        "dots": false,
        "arrows":true,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "responsive": [
            {
                "breakpoint":567,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow":2
                }
            },
            {
                "breakpoint":665,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": 3
                }
            },
            {
                "breakpoint": 1023,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow":4
                }
            },
            {
                "breakpoint": 1200,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow":4
                }
            },
            {
                "breakpoint": 1364,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow":5
                }
            },
            {
                "breakpoint":1920,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow":5
                }
            }
        ]
    }'
>
    {{#each products}}
    <div class="productCarousel-slide">
        {{> components/products/card theme_settings=../theme_settings customer=../customer}}
    </div>
    {{/each}}
</section>
