</div>
</div>
    <div class="related_product">
        <div class="container">
               <div class="rel_pdt">
                    {{#if product.related_products}}
                         <h2 class="related_title">{{lang 'products.related_products'}}</h2>
                    {{/if}}
                    {{#if product.related_products}}
                    {{> components/products/carousel products=product.related_products columns=6}}
                    {{/if}}
                </div> 
         </div>    
       </div> 
