<section class="toggle videoGallery" data-video-gallery>
    <div class="toggle-content is-open" id="videoGallery-content">
        <ul class="videoGallery-list">
        {{#each this.list}}
            <li class="videoGallery-item">
                <a href="#" class="video {{#if @first}}is-active{{/if}}" data-video-item data-video-id="{{id}}">
                    
                    <div class="video-body">
                        <h5 class="video-title">{{title_long}}</h5>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>

</section>
